<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLeaveBalanceLabel" jhiTranslate="lmsApp.leaveBalance.home.createOrEditLabel">Create or edit a Leave Balance</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!leaveBalance.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="leaveBalance.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveBalance.noOfLeave" for="field_noOfLeave">No Of Leave</label>
            <input type="number" class="form-control" name="noOfLeave" id="field_noOfLeave"
                [(ngModel)]="leaveBalance.noOfLeave" required/>
            <div [hidden]="!(editForm.controls.noOfLeave?.dirty && editForm.controls.noOfLeave?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.noOfLeave?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.noOfLeave?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveBalance.leaveType" for="field_leaveType">Leave Type</label>
            <select class="form-control" id="field_leaveType" name="leaveType" [(ngModel)]="leaveBalance.leaveType" >
                <option [ngValue]="null"></option>
                <option [ngValue]="leaveTypeOption.id === leaveBalance.leaveType?.id ? leaveBalance.leaveType : leaveTypeOption" *ngFor="let leaveTypeOption of leavetypes; trackBy: trackLeaveTypeById">{{leaveTypeOption.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveBalance.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" [(ngModel)]="leaveBalance.employee"  required>
                <option *ngIf="!editForm.value.employee" [ngValue]="null" selected></option>
                <option [ngValue]="employeeOption.id === leaveBalance.employee?.id ? leaveBalance.employee : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.empEnrollmentNo}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.employee?.dirty && editForm.controls.employee?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.employee?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
