<div>
<div class="row">
    <div class="col-md-2"><h2><span jhiTranslate="lmsApp.leaveBalance.home.title">Leave Balances</span></h2></div>
    <div class="col-md-4">
            <div class="input-group">
                    <input type="text" name="searchValue" (input)="searchResult()"  [(ngModel)]="searchValue" id="searchValue"  placeholder="Search..." class="form-control">
                </div>
    </div>
    <div class="col-md-4" *ngIf="employee && employee.post == 'REGISTRAR'">
        <div class="row">
            <div class="col-md-4">
                <label class="form-control-label" jhiTranslate="lmsApp.employee.department" for="field_department">Department</label>
            </div>
    
            <div class="col-md-8">
                <select class="form-control" id="field_department" name="department" [(ngModel)]="employee.department" (change)="loadAllByDepartment()">
                    <option value="0">All</option>
                    <option [ngValue]="departmentOption.id === employee.department?.id ? employee.department : departmentOption" *ngFor="let departmentOption of departments;">{{departmentOption.name}}</option>
                </select>
            </div>
        </div>
        <h6 *ngIf="employee.department.id != undefined">Showing {{employee.department.name}} Department's employees leave balance</h6>
        <h6 *ngIf="employee.department.id == undefined">Showing All Department's employees leave balance</h6>
    </div>
</div>
    <h6 *ngIf="employee && employee.post == 'HOD'">Showing {{employee.department.name}} Department's employees leave balance</h6>
    
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>   
    <div class="table-responsive" *ngIf="leaveBalances">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
             <th jhiSortBy="employee.user.login"><span jhiTranslate="lmsApp.leaveBalance.employee">Employee</span> <span class="fa fa-sort"></span></th>
           
            <th jhiSortBy="leaveType.code"><span jhiTranslate="lmsApp.leaveBalance.leaveType">Leave Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="noOfLeave"><span jhiTranslate="lmsApp.leaveBalance.noOfLeave">No Of Leave</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let leaveBalance of leaveBalances ;trackBy: trackId">
               <!--  <td><a [routerLink]="['../leave-balance', leaveBalance.id ]">{{leaveBalance.id}}</a></td> -->
                <td>
                    <div *ngIf="leaveBalance.employee">
                         <a [routerLink]="['../employee', leaveBalance.employee?.id ]" >{{leaveBalance.employee.user.login}}</a>
                    </div>
                </td> 
             
                <td>
                    <div *ngIf="leaveBalance.leaveType">
                         <a [routerLink]="['../leave-type', leaveBalance.leaveType?.id ]" >{{leaveBalance.leaveType?.code}}</a>
                    </div>
                </td>
                 <td>{{leaveBalance.noOfLeave}}</td>
                <td class="text-right" style="display: none;">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../leave-balance', leaveBalance.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'leave-balance/'+ leaveBalance.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'leave-balance/'+ leaveBalance.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="leaveBalances && leaveBalances.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
