<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLeaveApplicationLabel" jhiTranslate="lmsApp.leaveApplication.home.createOrEditLabel">Create or edit a Leave Application</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!leaveApplication.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="leaveApplication.id" readonly />
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="form-group">
                            <label class="form-control-label" jhiTranslate="lmsApp.leaveApplication.leaveType" for="field_leaveType">Leave Type</label>
                            <select class="form-control" id="field_leaveType" name="leaveType" (change) = "loadLeaveRule()" [(ngModel)]="leaveApplication.leaveType"  required>
                                <option *ngIf="!editForm.value.leaveType" [ngValue]="null" selected></option>
                                <option [ngValue]="leaveTypeOption.id === leaveApplication.leaveType?.id ? leaveApplication.leaveType : leaveTypeOption" *ngFor="let leaveTypeOption of leavetypes; trackBy: trackLeaveTypeById">{{leaveTypeOption.code}}</option>
                            </select>
                        </div>
                        <div [hidden]="!(editForm.controls.leaveType?.dirty && editForm.controls.leaveType?.invalid)">
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.leaveType?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
            
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-control-label" jhiTranslate="lmsApp.leaveApplication.fromDate" for="field_fromDate">From Date</label>
                        <div class="input-group">
                            <input id="field_fromDate" type="date" format="yyyy-mm-dd" (change)="fromDate($event)" class="form-control" name="fromDate"
                                [(ngModel)]="leaveApplication.fromDate" required/>
                        </div>
                        <div [hidden]="!(editForm.controls.fromDate?.dirty && editForm.controls.fromDate?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.fromDate?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label" jhiTranslate="lmsApp.leaveApplication.toDate" for="field_toDate">To Date</label>
                        <div class="input-group">
                            <input id="field_toDate" type="date" (change)="toDate($event)" class="form-control" name="toDate" [(ngModel)]="leaveApplication.toDate"
                                required/>
                        </div>
                        <div [hidden]="!(editForm.controls.toDate?.dirty && editForm.controls.toDate?.invalid)">
                            <small class="form-text text-danger" [hidden]="!editForm.controls.toDate?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.leaveApplication.noofday" for="field_noofday">Noofday</label>
                    <input type="text" class="form-control" name="noofday" id="field_noofday" value="{{leaveApplication.noofday}}" disabled
                        [(ngModel)]="leaveApplication.noofday" />
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <dl>Avaibale Leave Balance:    
                    <div class="row" *ngFor="let leaveBalances of leaveBalance;">
                        <div class="col-md-6">{{leaveBalances.leaveType.code}}</div>  
                        <div class="col-md-6">{{leaveBalances.noOfLeave}}</div>
                    </div>
            </dl>
        
            <div class="card">
                <div class="card-header">You can take join Leave :</div>
                <div class="card-body" *ngIf="leaveRule">
                    <div class="row" *ngFor="let l of leaveRule.leaveTypes; let i = index">
                        <div class="col-md-2">
                            {{l.code}}
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" class="form-control" name="c_{{l.id}}" [(ngModel)]="checkBox[i]" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" [disabled]="!checkBox[i]" class="form-control" name="t_{{l.id}}" [(ngModel)]="textBox[i]" required/>
                        </div>
                        <div class="col-md-4">
                            <label>Days</label>
                        </div>
                    </div>
                </div>
            </div>
            </div>  
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveApplication.reason" for="field_reason">Reason</label>
            <input type="text" class="form-control" name="reason" id="field_reason"
                [(ngModel)]="leaveApplication.reason" required/>
            <div [hidden]="!(editForm.controls.reason?.dirty && editForm.controls.reason?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.reason?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || leaveApplication.noofday < 1" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
