
<div *ngIf="leaveApplication" class="container">
    <h2><span jhiTranslate="lmsApp.leaveApplication.detail.title">Leave Application</span> {{leaveApplication.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                        <div class="col-md-4">
                            <dt><span jhiTranslate="lmsApp.leaveApplication.employee">Employee</span></dt>
                        </div>
                        <div class="col-md-8">
                            <dd>
                                <div *ngIf="leaveApplication.employee">
                                    <a [routerLink]="['/employee', leaveApplication.employee?.id]">{{leaveApplication.employee?.firstName}} {{leaveApplication.employee?.lastName}}</a>
                                </div>
                            </dd>            
                         </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> <dt><span jhiTranslate="lmsApp.leaveApplication.reason">Reason</span></dt></div>
                    <div class="col-md-8"><dd>
                            <span>{{leaveApplication.reason}}</span>
                        </dd></div>
                </div>
                <div class="row">
                        <div class="col-md-4">
                                <dt><span jhiTranslate="lmsApp.leaveApplication.status">Status</span></dt>
                        </div>
                        <div class="col-md-8">
                                <dd>
                                       <span *ngIf="leaveApplication.status == 'APPLIED'" class="badge badge-primary">{{leaveApplication.status}}</span>
                                        <span   *ngIf="leaveApplication.status == 'APPROVED'" class="badge badge-success">{{leaveApplication.status}}</span>
                                        <span *ngIf="leaveApplication.status == 'REJECTED'" class="badge badge-danger">{{leaveApplication.status}}</span>
                                    </dd>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-4">
                                    <dt><span jhiTranslate="lmsApp.leaveApplication.flowStatus">Flow Status</span></dt>
                            </div>
                            <div class="col-md-8">
                                    <dd>
                                            <span>{{leaveApplication.flowStatus}}</span>
                                        </dd>
                                </div>
                        </div>
                    
            </div>
            <div class="col-md-6">
                    <div class="row">
                <div class="col-md-6"><dt><span jhiTranslate="lmsApp.leaveApplication.fromDate">From Date</span></dt></div>
                <div class="col-md-6"> <dd>
                    <span>{{fromDate | date:'mediumDate'}}</span>
                </dd></div>
                </div>
                <div class="row">
                        <div class="col-md-6"><dt><span jhiTranslate="lmsApp.leaveApplication.toDate">To Date</span></dt></div>
                        <div class="col-md-6"> 
                                <dd>
                                        <span>{{toDate | date:'mediumDate'}}</span>
                                    </dd>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <dt><span jhiTranslate="lmsApp.leaveApplication.noofday">Noofday</span></dt>
                    </div>
                    <div class="col-md-6">
                            <dd>
                                    <span>{{leaveApplication.noofday}}</span>
                                </dd>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <dt><span jhiTranslate="lmsApp.leaveApplication.leaveType">Leave Type</span></dt>
                        </div>
                        <div class="col-md-6">
                                <dd>
                                        <div *ngIf="leaveApplication.leaveType">
                                            <a [routerLink]="['/leave-type', leaveApplication.leaveType?.id]">{{leaveApplication.leaveType?.code}}</a>
                                        </div>
                                    </dd>
                            </div>
                    </div>
            </div>
        </div>
            
      <div class="row">
          <div class="col-md-2"> <dt><span jhiTranslate="lmsApp.leaveApplication.comment">Comment</span></dt>
            <dd></div>
          <div class="col-md-8">
                <dt> <input [disabled]= "leaveApplication.status != 'APPLIED' || currentAccount.login == 'admin'" type="text" class="form-control" name="comment" id="field_comment"
                    [(ngModel)]="leaveApplication.comment" maxlength="500"/>
               </dt>
          </div>
      </div>
        <!-- <dt><span jhiTranslate="lmsApp.leaveApplication.comment">Comment</span></dt>
        <dd>
            <span>{{leaveApplication.comment}}</span>
        </dd> -->
        
        <!-- <dt><span jhiTranslate="lmsApp.leaveApplication.approvedBy">Approved By</span></dt>
        <dd>
            <div *ngIf="leaveApplication.approvedBy">
                <a [routerLink]="['/employee', leaveApplication.approvedBy?.id]">{{leaveApplication.approvedBy?.post}}</a>
            </div>
        </dd>
        --> 
    </dl>
    <div class="row">
        <div class="col-md-3"> <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button></div>
    
            <div class="col-md-3" *ngIf="currentAccount.login != 'admin' && employee.post != 'FACULTY' && employee.email != leaveApplication.employee.email"> 
                <button *ngIf="leaveApplication.status != 'APPROVED' && leaveApplication.status != 'REJECTED'"  (click)="save('APPROVED')" class="btn btn-success">
                        <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.approved">Approved</span>
                    </button>
        </div>
            <div class="col-md-3" *ngIf="currentAccount.login != 'admin' && employee.post != 'FACULTY' && employee.email != leaveApplication.employee.email" >
            <button *ngIf="leaveApplication.status != 'APPROVED' && leaveApplication.status != 'REJECTED'"  (click)="save('REJECTED')" class="btn btn-danger">
                    <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.reject">Reject</span>
                </button>
            </div>
            <div class="col-md-3" *ngIf="currentAccount.login != 'admin' && employee.post != 'FACULTY' && employee.email != leaveApplication.employee.email" >
                <button *ngIf="leaveApplication.status != 'APPROVED' && leaveApplication.status != 'REJECTED'" (click)="save('FORWARD')"  class="btn btn-primary">
                        <span>Forward to Superior</span>&nbsp;<span class="fa fa-arrow-right"></span>
                    </button>
                </div>
    </div>
   

    <!-- <button type="button"
            [routerLink]="['/', { outlets: { popup: 'leave-application/'+ leaveApplication.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button> -->

 
  

        
</div>
