<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLeaveRuleAndNoOfDayLabel" jhiTranslate="lmsApp.leaveRuleAndNoOfDay.home.createOrEditLabel">Create or edit a Leave Rule And No Of Day</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!leaveRuleAndNoOfDay.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="leaveRuleAndNoOfDay.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndNoOfDay.employeeType" for="field_employeeType">Employee Type</label>
            <select class="form-control" name="employeeType" [(ngModel)]="leaveRuleAndNoOfDay.employeeType" id="field_employeeType"  required>
                <option value="ALL">{{'lmsApp.EmpType1.ALL' | translate}}</option>
                <option value="EDUCATIONAL_WITH_VACATIONER_AND_EDUCATIONAL_WITH_NON_VACATIONER">{{'lmsApp.EmpType1.EDUCATIONAL_WITH_VACATIONER_AND_EDUCATIONAL_WITH_NON_VACATIONER' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.employeeType?.dirty && editForm.controls.employeeType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.employeeType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndNoOfDay.noOfDay" for="field_noOfDay">No Of Day</label>
            <input type="number" class="form-control" name="noOfDay" id="field_noOfDay"
                [(ngModel)]="leaveRuleAndNoOfDay.noOfDay" required/>
            <div [hidden]="!(editForm.controls.noOfDay?.dirty && editForm.controls.noOfDay?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.noOfDay?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.noOfDay?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndNoOfDay.leaveRule" for="field_leaveRule">Leave Rule</label>
            <select class="form-control" id="field_leaveRule" name="leaveRule" [(ngModel)]="leaveRuleAndNoOfDay.leaveRule"  required>
                <option *ngIf="!editForm.value.leaveRule" [ngValue]="null" selected></option>
                <option [ngValue]="leaveRuleOption.id === leaveRuleAndNoOfDay.leaveRule?.id ? leaveRuleAndNoOfDay.leaveRule : leaveRuleOption" *ngFor="let leaveRuleOption of leaverules; trackBy: trackLeaveRuleById">{{leaveRuleOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.leaveRule?.dirty && editForm.controls.leaveRule?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.leaveRule?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
