<div>
    <h2>
        <span jhiTranslate="lmsApp.employee.home.title">Employees</span>
        <button class="btn btn-primary float-right jh-create-entity create-employee" [routerLink]="['/', { outlets: { popup: ['employee-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="lmsApp.employee.home.createLabel">
            Create new Employee
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <!-- <div class="row"></div> -->
    <br/>
    <div class="table-responsive" *ngIf="employees">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
             <th jhiSortBy="empEnrollmentNo"><span jhiTranslate="lmsApp.employee.empEnrollmentNo">Emp Enrollment No</span> <span class="fa fa-sort"></span></th>
             <th jhiSortBy="department.name"><span jhiTranslate="lmsApp.employee.department">Department</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="lmsApp.employee.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstName"><span jhiTranslate="lmsApp.employee.firstName">First Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastName"><span jhiTranslate="lmsApp.employee.lastName">Last Name</span> <span class="fa fa-sort"></span></th>
            <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="teachingstaff"><span jhiTranslate="lmsApp.employee.teachingstaff">Teachingstaff</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="canHaveVacation"><span jhiTranslate="lmsApp.employee.canHaveVacation">Can Have Vacation</span> <span class="fa fa-sort"></span></th> -->
            <th jhiSortBy="post"><span jhiTranslate="lmsApp.employee.post">Post</span> <span class="fa fa-sort"></span></th>
            <!-- <th jhiSortBy="middleName"><span jhiTranslate="lmsApp.employee.middleName">Middle Name</span> <span class="fa fa-sort"></span></th> -->
            <!-- <th jhiSortBy="fatherHusbandName"><span jhiTranslate="lmsApp.employee.fatherHusbandName">Father Husband Name</span> <span class="fa fa-sort"></span></th> -->
            <th jhiSortBy="gender"><span jhiTranslate="lmsApp.employee.gender">Gender</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dob"><span jhiTranslate="lmsApp.employee.dob">Dob</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address"><span jhiTranslate="lmsApp.employee.address">Address</span> <span class="fa fa-sort"></span></th>
            <!-- <th jhiSortBy="state"><span jhiTranslate="lmsApp.employee.state">State</span> <span class="fa fa-sort"></span></th> -->
            <th jhiSortBy="city"><span jhiTranslate="lmsApp.employee.city">City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pincode"><span jhiTranslate="lmsApp.employee.pincode">Pincode</span> <span class="fa fa-sort"></span></th>
            <!-- <th jhiSortBy="maritalStatus"><span jhiTranslate="lmsApp.employee.maritalStatus">Marital Status</span> <span class="fa fa-sort"></span></th> -->
            <th jhiSortBy="phoneNumber"><span jhiTranslate="lmsApp.employee.phoneNumber">Phone Number</span> <span class="fa fa-sort"></span></th>
            <!-- <th jhiSortBy="mobileNumber"><span jhiTranslate="lmsApp.employee.mobileNumber">Mobile Number</span> <span class="fa fa-sort"></span></th> -->
            <th jhiSortBy="bloodGroup"><span jhiTranslate="lmsApp.employee.bloodGroup">Blood Group</span> <span class="fa fa-sort"></span></th>
            <!-- <th jhiSortBy="physicalFit"><span jhiTranslate="lmsApp.employee.physicalFit">Physical Fit</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="joinDate"><span jhiTranslate="lmsApp.employee.joinDate">Join Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="retiredDate"><span jhiTranslate="lmsApp.employee.retiredDate">Retired Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="qualification"><span jhiTranslate="lmsApp.employee.qualification">Qualification</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="payband"><span jhiTranslate="lmsApp.employee.payband">Payband</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="granted"><span jhiTranslate="lmsApp.employee.granted">Granted</span> <span class="fa fa-sort"></span></th> -->
            <th jhiSortBy="otheNote"><span jhiTranslate="lmsApp.employee.otheNote">Othe Note</span> <span class="fa fa-sort"></span></th>
            
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let employee of employees ;trackBy: trackId">
             <td>{{employee.empEnrollmentNo}}</td>
              <td>
                    <div *ngIf="employee.department">
                        <a [routerLink]="['../department', employee.department?.id ]" >{{employee.department?.name}}</a>
                    </div>
                </td>
            <td>{{employee.email}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
               
               
                <!-- <td><a [routerLink]="['../employee', employee.id ]">{{employee.id}}</a></td>
                <td>{{employee.teachingstaff}}</td>
                <td>{{employee.canHaveVacation}}</td> -->
                <td jhiTranslate="{{'lmsApp.Post.' + employee.post}}">{{employee.post}}</td>
                <!-- <td>{{employee.middleName}}</td> -->
               <!--  <td>{{employee.fatherHusbandName}}</td> -->
                <td jhiTranslate="{{'lmsApp.GenderEnum.' + employee.gender}}">{{employee.gender}}</td>
                <td>{{employee.dob | date:'mediumDate'}}</td>
                <td>{{employee.address}}</td>
              <!--   <td>{{employee.state}}</td> -->
                <td>{{employee.city}}</td>
                <td>{{employee.pincode}}</td>
               <!--  <td jhiTranslate="{{'lmsApp.MaritalStatus.' + employee.maritalStatus}}">{{employee.maritalStatus}}</td> -->
                <td>{{employee.phoneNumber}}</td>
                <!-- <td>{{employee.mobileNumber}}</td> -->
                <td jhiTranslate="{{'lmsApp.BloodGroup.' + employee.bloodGroup}}">{{employee.bloodGroup}}</td>
               <!--  <td>{{employee.physicalFit}}</td>
                <td>{{employee.joinDate | date:'mediumDate'}}</td>
                <td>{{employee.retiredDate | date:'mediumDate'}}</td>
                <td>{{employee.qualification}}</td>
                <td>{{employee.payband}}</td>
                <td>{{employee.granted}}</td> -->
                <td>{{employee.otheNote}}</td>
                
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../employee', employee.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="employees && employees.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
