<div>
    <h2>
        <span jhiTranslate="lmsApp.leaveRuleAndValidationType.home.title">Leave Rule And Validation Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-leave-rule-and-validation-type" [routerLink]="['/', { outlets: { popup: ['leave-rule-and-validation-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="lmsApp.leaveRuleAndValidationType.home.createLabel">
            Create new Leave Rule And Validation Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="leaveRuleAndValidationTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="lmsApp.leaveRuleAndValidationType.employeeType">Employee Type</span></th>
            <th><span jhiTranslate="lmsApp.leaveRuleAndValidationType.validationType">Validation Type</span></th>
            <th><span jhiTranslate="lmsApp.leaveRuleAndValidationType.level1">Level 1</span></th>
            <th><span jhiTranslate="lmsApp.leaveRuleAndValidationType.level2">Level 2</span></th>
            <th><span jhiTranslate="lmsApp.leaveRuleAndValidationType.level3">Level 3</span></th>
            <th><span jhiTranslate="lmsApp.leaveRuleAndValidationType.level4">Level 4</span></th>
            <th><span jhiTranslate="lmsApp.leaveRuleAndValidationType.level5">Level 5</span></th>
            <th><span jhiTranslate="lmsApp.leaveRuleAndValidationType.level6">Level 6</span></th>
            <th><span jhiTranslate="lmsApp.leaveRuleAndValidationType.leaveRule">Leave Rule</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let leaveRuleAndValidationType of leaveRuleAndValidationTypes ;trackBy: trackId">
                <td><a [routerLink]="['../leave-rule-and-validation-type', leaveRuleAndValidationType.id ]">{{leaveRuleAndValidationType.id}}</a></td>
                <td jhiTranslate="{{'lmsApp.EmpType2.' + leaveRuleAndValidationType.employeeType}}">{{leaveRuleAndValidationType.employeeType}}</td>
                <td jhiTranslate="{{'lmsApp.ValidationType.' + leaveRuleAndValidationType.validationType}}">{{leaveRuleAndValidationType.validationType}}</td>
                <td>{{leaveRuleAndValidationType.level1}}</td>
                <td>{{leaveRuleAndValidationType.level2}}</td>
                <td>{{leaveRuleAndValidationType.level3}}</td>
                <td>{{leaveRuleAndValidationType.level4}}</td>
                <td>{{leaveRuleAndValidationType.level5}}</td>
                <td>{{leaveRuleAndValidationType.level6}}</td>
                <td>
                    <div *ngIf="leaveRuleAndValidationType.leaveRule">
                        <a [routerLink]="['../leave-rule', leaveRuleAndValidationType.leaveRule?.id ]" >{{leaveRuleAndValidationType.leaveRule?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../leave-rule-and-validation-type', leaveRuleAndValidationType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'leave-rule-and-validation-type/'+ leaveRuleAndValidationType.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'leave-rule-and-validation-type/'+ leaveRuleAndValidationType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
