<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLeaveRuleLabel" jhiTranslate="lmsApp.leaveRule.home.createOrEditLabel">Create or edit a Leave Rule</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!leaveRule.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="leaveRule.id" readonly />
        </div> 
       <div class="form-group">
                <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndNoOfDay.employeeType" for="field_employeeType">Employee Type</label>
                <select class="form-control" name="employeeType" [(ngModel)]="leaveRuleAndNoOfDay.employeeType" id="field_employeeType"  required>
                    <option value="ALL" selected=true>{{'lmsApp.EmpType1.ALL' | translate}}</option>
                    <option value="EDUCATIONAL_WITH_VACATIONER_AND_EDUCATIONAL_WITH_NON_VACATIONER">{{'lmsApp.EmpType1.EDUCATIONAL_WITH_VACATIONER_AND_EDUCATIONAL_WITH_NON_VACATIONER' | translate}}</option>
                </select>
                <div [hidden]="!(editForm.controls.employeeType?.dirty && editForm.controls.employeeType?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.employeeType?.errors?.required" jhiTranslate="entity.validation.required">
                       This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndNoOfDay.noOfDay" for="field_noOfDay">No Of Day</label>
                    <input type="number" class="form-control" name="noOfDay" id="field_noOfDay"
                        [(ngModel)]="leaveRuleAndNoOfDay.noOfDay" required/>
                    <div [hidden]="!(editForm.controls.noOfDay?.dirty && editForm.controls.noOfDay?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.noOfDay?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.noOfDay?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="leaveRuleAndNoOfDay.employeeType == 'EDUCATIONAL_WITH_VACATIONER_AND_EDUCATIONAL_WITH_NON_VACATIONER'">
                    <label class="form-control-label">No Of Day for EDUCATIONAL_WITH_NON_VACATIONER</label>
                    <input type="number" class="form-control" name="noOfDay2" id="field_noOfDay2"
                        [(ngModel)]="leaveRuleAndNoOfDay.noOfDay2" />
                    <!-- <div [hidden]="!(editForm.controls.noOfDay?.dirty && editForm.controls.noOfDay?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.noOfDay?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div> -->
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndMaxMinLeave.employeeType" for="field_employeeType">Employee Type</label>
                    <select class="form-control" name="employeeType" [(ngModel)]="leaveRuleAndMaxMinLeave.employeeType" id="field_employeeType"  required>
                        <option value="ALL">{{'lmsApp.EmpType2.ALL' | translate}}</option>
                        <option value="MANAGEMENT_AND_EDUCATIONAL">{{'lmsApp.EmpType2.MANAGEMENT_AND_EDUCATIONAL' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.employeeType?.dirty && editForm.controls.employeeType?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.employeeType?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndMaxMinLeave.maxLeaveLimit" for="field_maxLeaveLimit">Max Leave Limit</label>
                    <input type="number" class="form-control" name="maxLeaveLimit" id="field_maxLeaveLimit"
                        [(ngModel)]="leaveRuleAndMaxMinLeave.maxLeaveLimit" required/>
                    <div [hidden]="!(editForm.controls.maxLeaveLimit?.dirty && editForm.controls.maxLeaveLimit?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.maxLeaveLimit?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.maxLeaveLimit?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndMaxMinLeave.minLeaveLimit" for="field_minLeaveLimit">Min Leave Limit</label>
                    <input type="number" class="form-control" name="minLeaveLimit" id="field_minLeaveLimit"
                        [(ngModel)]="leaveRuleAndMaxMinLeave.minLeaveLimit" required/>
                    <div [hidden]="!(editForm.controls.minLeaveLimit?.dirty && editForm.controls.minLeaveLimit?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.minLeaveLimit?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.minLeaveLimit?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="leaveRuleAndMaxMinLeave.employeeType == 'MANAGEMENT_AND_EDUCATIONAL'">
                    <label class="form-control-label" >Max Leave Limit for Educational</label>
                    <input type="number" class="form-control" name="maxLeaveLimit1"
                        [(ngModel)]="leaveRuleAndMaxMinLeave.maxLeaveLimit1" />
                    <!-- <div [hidden]="!(editForm.controls.maxLeaveLimit?.dirty && editForm.controls.maxLeaveLimit?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.maxLeaveLimit?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.maxLeaveLimit?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div> -->
                </div>
                <div class="form-group" *ngIf="leaveRuleAndMaxMinLeave.employeeType == 'MANAGEMENT_AND_EDUCATIONAL'">
                    <label class="form-control-label">Min Leave Limit for Educational</label>
                    <input type="number" class="form-control" name="minLeaveLimit1"
                        [(ngModel)]="leaveRuleAndMaxMinLeave.minLeaveLimit1" />
                    <!-- <div [hidden]="!(editForm.controls.minLeaveLimit?.dirty && editForm.controls.minLeaveLimit?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.minLeaveLimit?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.minLeaveLimit?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div> -->
                </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRule.leaveFor" for="field_leaveFor">Leave For</label>
            <select class="form-control" name="leaveFor" [(ngModel)]="leaveRule.leaveFor" id="field_leaveFor"  required>
                <option value="BOTH">{{'lmsApp.LeaveFor.BOTH' | translate}}</option>
                <option value="MALE">{{'lmsApp.LeaveFor.MALE' | translate}}</option>
                <option value="FEMALE">{{'lmsApp.LeaveFor.FEMALE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.leaveFor?.dirty && editForm.controls.leaveFor?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.leaveFor?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRule.commulative" for="field_commulative">Commulative</label>
            <input type="checkbox" class="form-control" name="commulative" id="field_commulative"
                [(ngModel)]="leaveRule.commulative" />
        </div>
        <div class="form-group" *ngIf="leaveRule.commulative">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRule.commulativeLimit" for="field_commulativeLimit">Commulative Limit</label>
            <input type="number" class="form-control" name="commulativeLimit" id="field_commulativeLimit"
                [(ngModel)]="leaveRule.commulativeLimit" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRule.allocationTimePeriod" for="field_allocationTimePeriod">Allocation Time Period</label>
            <select class="form-control" name="allocationTimePeriod" [(ngModel)]="leaveRule.allocationTimePeriod" id="field_allocationTimePeriod"  required>
                <option value="YEALRY">{{'lmsApp.Period.YEALRY' | translate}}</option>
                <option value="QUARTERLY">{{'lmsApp.Period.QUARTERLY' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.allocationTimePeriod?.dirty && editForm.controls.allocationTimePeriod?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.allocationTimePeriod?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="lmsApp.leaveRule.leaveType" for="field_leaveType">Leave Type</label>
            <select class="form-control" id="field_leaveType" multiple name="leaveType" [(ngModel)]="leaveRule.leaveTypes">
                <option [ngValue]="getSelected(leaveRule.leaveTypes, leaveTypeOption)" *ngFor="let leaveTypeOption of leavetypes; trackBy: trackLeaveTypeById">{{leaveTypeOption.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRule.leave" for="field_leave">Leave</label>
            <select class="form-control" id="field_leave" name="leave" [(ngModel)]="leaveRule.leave" required>
                <option *ngIf="!editForm.value.leave" [ngValue]="null" selected></option>
                <option [ngValue]="leaveTypeOption.id === leaveRule.leave?.id ? leaveRule.leave : leaveTypeOption" *ngFor="let leaveTypeOption of leaves; trackBy: trackLeaveTypeById">{{leaveTypeOption.code}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.leave?.dirty && editForm.controls.leave?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.leave?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        
        
        <div class="form-group">
            <label class="form-control-label" for="field_employeeType">Employee Type Educational</label>
            <select class="form-control" name="employeeType" [(ngModel)]="leaveRuleAndValidationType.employeeType" id="field_employeeType"  required>
                <option value="ALL">{{'lmsApp.EmpType2.ALL' | translate}}</option>
                <option value="MANAGEMENT_AND_EDUCATIONAL">{{'lmsApp.EmpType2.MANAGEMENT_AND_EDUCATIONAL' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.employeeType?.dirty && editForm.controls.employeeType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.employeeType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.validationType" for="field_validationType">Validation Type</label>
            <select class="form-control" name="validationType" [(ngModel)]="leaveRuleAndValidationType.validationType" id="field_validationType"  required>
                <option value="LEVEL1">{{'lmsApp.ValidationType.LEVEL1' | translate}}</option>
                <option value="LEVEL2">{{'lmsApp.ValidationType.LEVEL2' | translate}}</option>
                <option value="LEVEL3">{{'lmsApp.ValidationType.LEVEL3' | translate}}</option>
                <option value="LEVEL4">{{'lmsApp.ValidationType.LEVEL4' | translate}}</option>
                <option value="LEVEL5">{{'lmsApp.ValidationType.LEVEL5' | translate}}</option>
                <option value="LEVEL6">{{'lmsApp.ValidationType.LEVEL6' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.validationType?.dirty && editForm.controls.validationType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.validationType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level1" for="field_level1">Level 1</label>
            <input type="number" class="form-control" name="level1" id="field_level1"
                [(ngModel)]="leaveRuleAndValidationType.level1" required/>
            <div [hidden]="!(editForm.controls.level1?.dirty && editForm.controls.level1?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.level1?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.level1?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group" *ngIf="leaveRuleAndValidationType.validationType == 'LEVEL2' || leaveRuleAndValidationType.validationType == 'LEVEL3' || leaveRuleAndValidationType.validationType == 'LEVEL4' || leaveRuleAndValidationType.validationType == 'LEVEL5' || leaveRuleAndValidationType.validationType == 'LEVEL6' ">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level2" for="field_level2">Level 2</label>
            <input type="number" class="form-control" name="level2" id="field_level2"
                [(ngModel)]="leaveRuleAndValidationType.level2" />
        </div>
        <div class="form-group" *ngIf="leaveRuleAndValidationType.validationType == 'LEVEL3' || leaveRuleAndValidationType.validationType == 'LEVEL4' || leaveRuleAndValidationType.validationType == 'LEVEL5' || leaveRuleAndValidationType.validationType == 'LEVEL6' ">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level3" for="field_level3">Level 3</label>
            <input type="number" class="form-control" name="level3" id="field_level3"
                [(ngModel)]="leaveRuleAndValidationType.level3" />
        </div>
        <div class="form-group" *ngIf="leaveRuleAndValidationType.validationType == 'LEVEL4' || leaveRuleAndValidationType.validationType == 'LEVEL5' || leaveRuleAndValidationType.validationType == 'LEVEL6' ">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level4" for="field_level4">Level 4</label>
            <input type="number" class="form-control" name="level4" id="field_level4"
                [(ngModel)]="leaveRuleAndValidationType.level4" />
        </div>
        <div class="form-group" *ngIf="leaveRuleAndValidationType.validationType == 'LEVEL5' || leaveRuleAndValidationType.validationType == 'LEVEL6' ">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level5" for="field_level5">Level 5</label>
            <input type="number" class="form-control" name="level5" id="field_level5"
                [(ngModel)]="leaveRuleAndValidationType.level5" />
        </div>
        <div class="form-group" *ngIf="leaveRuleAndValidationType.validationType == 'LEVEL6' ">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level6" for="field_level6">Level 6</label>
            <input type="number" class="form-control" name="level6" id="field_level6"
                [(ngModel)]="leaveRuleAndValidationType.level6" />
        </div>
        
        
        
        <div class="form-group">
            <label class="form-control-label" for="field_employeeType">Employee Type Management</label>
            <select class="form-control" name="employeeType" [(ngModel)]="leaveRuleAndValidationType.employeeType" id="field_employeeType"  required>
                <option value="ALL">{{'lmsApp.EmpType2.ALL' | translate}}</option>
                <option value="MANAGEMENT_AND_EDUCATIONAL">{{'lmsApp.EmpType2.MANAGEMENT_AND_EDUCATIONAL' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.employeeType?.dirty && editForm.controls.employeeType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.employeeType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.validationType" for="field_validationType">Validation Type</label>
            <select class="form-control" name="validationType" [(ngModel)]="leaveRuleAndValidationType.validationType1" id="field_validationType"  required>
                <option value="LEVEL1">{{'lmsApp.ValidationType.LEVEL1' | translate}}</option>
                <option value="LEVEL2">{{'lmsApp.ValidationType.LEVEL2' | translate}}</option>
                <option value="LEVEL3">{{'lmsApp.ValidationType.LEVEL3' | translate}}</option>
                <option value="LEVEL4">{{'lmsApp.ValidationType.LEVEL4' | translate}}</option>
                <option value="LEVEL5">{{'lmsApp.ValidationType.LEVEL5' | translate}}</option>
                <option value="LEVEL6">{{'lmsApp.ValidationType.LEVEL6' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.validationType?.dirty && editForm.controls.validationType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.validationType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level1" for="field_level1">Level 1</label>
            <input type="number" class="form-control" name="level11" id="field_level1"
                [(ngModel)]="leaveRuleAndValidationType.level11" required/>
            <div [hidden]="!(editForm.controls.level11?.dirty && editForm.controls.level11?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.level11?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.level11?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group" *ngIf="leaveRuleAndValidationType.validationType1 == 'LEVEL2' || leaveRuleAndValidationType.validationType1 == 'LEVEL3' || leaveRuleAndValidationType.validationType1 == 'LEVEL4' || leaveRuleAndValidationType.validationType1 == 'LEVEL5' || leaveRuleAndValidationType.validationType1 == 'LEVEL6' ">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level2" for="field_level2">Level 2</label>
            <input type="number" class="form-control" name="level21" id="field_level2"
                [(ngModel)]="leaveRuleAndValidationType.level21" />
        </div>
        <div class="form-group" *ngIf="leaveRuleAndValidationType.validationType1 == 'LEVEL3' || leaveRuleAndValidationType.validationType1 == 'LEVEL4' || leaveRuleAndValidationType.validationType1 == 'LEVEL5' || leaveRuleAndValidationType.validationType1 == 'LEVEL6' ">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level3" for="field_level3">Level 3</label>
            <input type="number" class="form-control" name="level31" id="field_level3"
                [(ngModel)]="leaveRuleAndValidationType.level31" />
        </div>
        <div class="form-group" *ngIf="leaveRuleAndValidationType.validationType1 == 'LEVEL4' || leaveRuleAndValidationType.validationType1 == 'LEVEL5' || leaveRuleAndValidationType.validationType1 == 'LEVEL6' ">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level4" for="field_level4">Level 4</label>
            <input type="number" class="form-control" name="level41" id="field_level4"
                [(ngModel)]="leaveRuleAndValidationType.level41" />
        </div>
        <div class="form-group" *ngIf="leaveRuleAndValidationType.validationType1 == 'LEVEL5' || leaveRuleAndValidationType.validationType1 == 'LEVEL6' ">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level5" for="field_level5">Level 5</label>
            <input type="number" class="form-control" name="level51" id="field_level5"
                [(ngModel)]="leaveRuleAndValidationType.level51" />
        </div>
        <div class="form-group" *ngIf="leaveRuleAndValidationType.validationType1 == 'LEVEL6' ">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndValidationType.level6" for="field_level6">Level 6</label>
            <input type="number" class="form-control" name="level61" id="field_level6"
                [(ngModel)]="leaveRuleAndValidationType.level61" />
        </div>
        
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
