<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLeaveRuleLabel" jhiTranslate="lmsApp.leaveRule.home.createOrEditLabel">Create or edit a Leave Rule</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!leaveRule.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="leaveRule.id" readonly />
        </div> 
        <div class="form-group">
                <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndNoOfDay.employeeType" for="field_employeeType">Employee Type</label>
                <select class="form-control" name="employeeType" [(ngModel)]="leaveRuleAndNoOfDay.employeeType" id="field_employeeType"  required>
                    <option value="ALL">{{'lmsApp.EmpType1.ALL' | translate}}</option>
                    <option value="EDUCATIONAL_WITH_VACATIONER_AND_EDUCATIONAL_WITH_NON_VACATIONER">{{'lmsApp.EmpType1.EDUCATIONAL_WITH_VACATIONER_AND_EDUCATIONAL_WITH_NON_VACATIONER' | translate}}</option>
                </select>
                <div [hidden]="!(editForm.controls.employeeType?.dirty && editForm.controls.employeeType?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.employeeType?.errors?.required" jhiTranslate="entity.validation.required">
                       This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lmsApp.leaveRuleAndNoOfDay.noOfDay" for="field_noOfDay">No Of Day</label>
                    <input type="number" class="form-control" name="noOfDay" id="field_noOfDay"
                        [(ngModel)]="leaveRuleAndNoOfDay.noOfDay" required/>
                    <div [hidden]="!(editForm.controls.noOfDay?.dirty && editForm.controls.noOfDay?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.noOfDay?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.noOfDay?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRule.leaveFor" for="field_leaveFor">Leave For</label>
            <select class="form-control" name="leaveFor" [(ngModel)]="leaveRule.leaveFor" id="field_leaveFor"  required>
                <option value="BOTH">{{'lmsApp.LeaveFor.BOTH' | translate}}</option>
                <option value="MALE">{{'lmsApp.LeaveFor.MALE' | translate}}</option>
                <option value="FEMALE">{{'lmsApp.LeaveFor.FEMALE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.leaveFor?.dirty && editForm.controls.leaveFor?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.leaveFor?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRule.commulative" for="field_commulative">Commulative</label>
            <input type="checkbox" class="form-control" name="commulative" id="field_commulative"
                [(ngModel)]="leaveRule.commulative" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRule.commulativeLimit" for="field_commulativeLimit">Commulative Limit</label>
            <input type="number" class="form-control" name="commulativeLimit" id="field_commulativeLimit"
                [(ngModel)]="leaveRule.commulativeLimit" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRule.allocationTimePeriod" for="field_allocationTimePeriod">Allocation Time Period</label>
            <select class="form-control" name="allocationTimePeriod" [(ngModel)]="leaveRule.allocationTimePeriod" id="field_allocationTimePeriod"  required>
                <option value="YEALRY">{{'lmsApp.Period.YEALRY' | translate}}</option>
                <option value="QUARTERLY">{{'lmsApp.Period.QUARTERLY' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.allocationTimePeriod?.dirty && editForm.controls.allocationTimePeriod?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.allocationTimePeriod?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="lmsApp.leaveRule.leaveType" for="field_leaveType">Leave Type</label>
            <select class="form-control" id="field_leaveType" multiple name="leaveType" [(ngModel)]="leaveRule.leaveTypes">
                <option [ngValue]="getSelected(leaveRule.leaveTypes, leaveTypeOption)" *ngFor="let leaveTypeOption of leavetypes; trackBy: trackLeaveTypeById">{{leaveTypeOption.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.leaveRule.leave" for="field_leave">Leave</label>
            <select class="form-control" id="field_leave" name="leave" [(ngModel)]="leaveRule.leave" required>
                <option *ngIf="!editForm.value.leave" [ngValue]="null" selected></option>
                <option [ngValue]="leaveTypeOption.id === leaveRule.leave?.id ? leaveRule.leave : leaveTypeOption" *ngFor="let leaveTypeOption of leaves; trackBy: trackLeaveTypeById">{{leaveTypeOption.code}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.leave?.dirty && editForm.controls.leave?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.leave?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
